In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load_json = "jayconv.json"

# Read Purchasing File and store into Pandas data frame
df = pd.read_json(file_to_load_json, orient="records")

In [2]:
df.dtypes

city                       object
comments                   object
country                    object
datetime           datetime64[ns]
durationMinutes            object
shape                      object
state                      object
dtype: object

In [3]:
df['datetime'] = df['datetime'].dt.strftime('%m/%d/%Y')

In [4]:
df['datetime'] = df['datetime'].astype(str)

In [6]:
df = df[["datetime","city","state", "country", "durationMinutes", "shape", "comments"]]
df.head()

,datetime,city,state,country,durationMinutes,shape,comments
0,01/01/2010,benton,ar,us,5 mins.,circle,4 bright green circles high in the sky going i...
1,01/01/2010,bonita,ca,us,13 minutes,light,Three bright red lights witnessed floating sta...
2,01/01/2010,el cajon,ca,us,6 minutes,triangle,On New Years Eve I went outside to hear the ce...
3,01/01/2010,el cajon,ca,us,12 minutes,triangle,3 Red objects hovering over El Cajon CA
4,01/01/2010,fresno,ca,us,1 min,light,Fresno cal. bright light hovers over head then...

In [7]:
df.set_index('datetime', inplace=True)

In [8]:
df.head()

,city,state,country,durationMinutes,shape,comments
datetime,,,,,,
01/01/2010,benton,ar,us,5 mins.,circle,4 bright green circles high in the sky going i...
01/01/2010,bonita,ca,us,13 minutes,light,Three bright red lights witnessed floating sta...
01/01/2010,el cajon,ca,us,6 minutes,triangle,On New Years Eve I went outside to hear the ce...
01/01/2010,el cajon,ca,us,12 minutes,triangle,3 Red objects hovering over El Cajon CA
01/01/2010,fresno,ca,us,1 min,light,Fresno cal. bright light hovers over head then...

In [9]:
df.to_html('conv_Table.html')